---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/<WUNDERGROUND_API_KEY>/forecast/q/OR/Portland.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      x-creationtime:
      - '0.216'
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "\n{\n\t\"response\": {\n\t\t\"version\": \"0.1\"\n\t\t,\"termsofService\":
        \"http://www.wunderground.com/weather/api/d/terms.html\"\n\t\t,\"features\":
        {\n\t\t\"forecast\": 1\n\t\t}\n\t}\n\t\t,\n\t\"forecast\":{\n\t\t\"txt_forecast\":
        {\n\t\t\"date\":\"2:00 PM PDT\",\n\t\t\"forecastday\": [\n\t\t{\n\t\t\"period\":0,\n\t\t\"icon\":\"cloudy\",\n\t\t\"icon_url\":\"http://icons-ak.wxug.com/i/c/k/cloudy.gif\",\n\t\t\"title\":\"Tuesday\",\n\t\t\"fcttext\":\"Overcast
        with a chance of rain. Fog early. High of 64F. Winds from the SSW at 5 to
        10 mph. Chance of rain 20%.\",\n\t\t\"fcttext_metric\":\"Overcast with a chance
        of rain. Fog early. High of 18C. Breezy. Winds from the SSW at 10 to 20 km/h.\",\n\t\t\"pop\":\"20\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"period\":1,\n\t\t\"icon\":\"mostlycloudy\",\n\t\t\"icon_url\":\"http://icons-ak.wxug.com/i/c/k/mostlycloudy.gif\",\n\t\t\"title\":\"Tuesday
        Night\",\n\t\t\"fcttext\":\"Overcast with a chance of rain after midnight.
        Low of 48F. Winds from the SSW at 5 to 10 mph.\",\n\t\t\"fcttext_metric\":\"Overcast
        with a chance of rain after midnight. Low of 9C. Winds from the SSW at 10
        to 15 km/h.\",\n\t\t\"pop\":\"30\"\n\t\t}\n\t\t,\n\t\t{\n\t[...]
