---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/<WUNDERGROUND_API_KEY>/forecast/q/OR/Portland.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-creationtime:
      - '0.213'
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "\n{\n\t\"response\": {\n\t\t\"version\": \"0.1\"\n\t\t,\"termsofService\":
        \"http://www.wunderground.com/weather/api/d/terms.html\"\n\t\t,\"features\":
        {\n\t\t\"forecast\": 1\n\t\t}\n\t}\n\t\t,\n\t\"forecast\":{\n\t\t\"txt_forecast\":
        {\n\t\t\"date\":\"8:00 AM PDT\",\n\t\t\"forecastday\": [\n\t\t{\n\t\t\"period\":0,\n\t\t\"icon\":\"chancerain\",\n\t\t\"icon_url\":\"http://icons-ak.wxug.com/i/c/k/chancerain.gif\",\n\t\t\"title\":\"Monday\",\n\t\t\"fcttext\":\"Overcast
        with a chance of rain. High of 61F. Winds less than 5 mph. Chance of rain
        40%.\",\n\t\t\"fcttext_metric\":\"Overcast with a chance of rain. High of
        16C. Winds less than 5 km/h. Chance of rain 40%.\",\n\t\t\"pop\":\"40\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"period\":1,\n\t\t\"icon\":\"chancerain\",\n\t\t\"icon_url\":\"http://icons-ak.wxug.com/i/c/k/chancerain.gif\",\n\t\t\"title\":\"Monday
        Night\",\n\t\t\"fcttext\":\"Overcast with a chance of rain. Fog overnight.
        Low of 46F. Winds less than 5 mph. Chance of rain 40%.\",\n\t\t\"fcttext_metric\":\"Overcast
        with a chance of rain. Fog overnight. Low of 8C. Winds less than 5 km/h. Chance
        of rain 40%.\",\n\t\t\"pop\":\"40\"\n\t\t}\n\t\t,\[...]
