---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/6361b5506e2aadae/forecast/q/OR/Portland.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-creationtime:
      - '0.209'
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "\n{\n\t\"response\": {\n\t\t\"version\": \"0.1\"\n\t\t,\"termsofService\":
        \"http://www.wunderground.com/weather/api/d/terms.html\"\n\t\t,\"features\":
        {\n\t\t\"forecast\": 1\n\t\t}\n\t}\n\t\t,\n\t\"forecast\":{\n\t\t\"txt_forecast\":
        {\n\t\t\"date\":\"1:00 PM PST\",\n\t\t\"forecastday\": [\n\t\t{\n\t\t\"period\":0,\n\t\t\"icon\":\"partlycloudy\",\n\t\t\"icon_url\":\"http://icons-ak.wxug.com/i/c/k/partlycloudy.gif\",\n\t\t\"title\":\"Friday\",\n\t\t\"fcttext\":\"Partly
        cloudy. Fog early. High of 59F. Winds less than 5 mph.\",\n\t\t\"fcttext_metric\":\"Partly
        cloudy. Fog early. High of 15C. Winds less than 5 km/h.\",\n\t\t\"pop\":\"10\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"period\":1,\n\t\t\"icon\":\"partlycloudy\",\n\t\t\"icon_url\":\"http://icons-ak.wxug.com/i/c/k/partlycloudy.gif\",\n\t\t\"title\":\"Friday
        Night\",\n\t\t\"fcttext\":\"Partly cloudy. Fog overnight. Low of 39F. Winds
        less than 5 mph.\",\n\t\t\"fcttext_metric\":\"Partly cloudy. Fog overnight.
        Low of 4C. Winds less than 5 km/h.\",\n\t\t\"pop\":\"0\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"period\":2,\n\t\t\"icon\":\"partlycloudy\",\n\t\t\"icon_url\":\"h[...]
